
*.user

*.o

*.stash
*.obj
*.Release
*.Debug
*.exe
*.pdb
*.*.ilk

examples/build-b_blending_poisson-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-cv_augmented_reality-Desktop_Qt_5_4_2_clang_64bit-Debug/cv_augmented_reality

examples/build-b_blending_poisson-Desktop_Qt_5_4_2_clang_64bit-Debug/b_blending_poisson

examples/build-b_blending_laplacian-Desktop_Qt_5_4_2_clang_64bit-Debug/b_blending_laplacian

examples/build-b_blending_laplacian-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-cv_augmented_reality-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-cv_corners_extraction-Desktop_Qt_5_4_2_clang_64bit-Debug/cv_corners_extraction

examples/build-cv_corners_extraction-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-cv_matching-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-cv_matching-Desktop_Qt_5_4_2_clang_64bit-Debug/cv_matching

examples/build-cv_triangulation-Desktop_Qt_5_4_2_clang_64bit-Debug/cv_triangulation

examples/build-cv_triangulation-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-edge_aware_filtering-Desktop_Qt_5_4_2_clang_64bit-Debug/edge_aware_filtering

examples/build-edge_aware_filtering-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/main.o-02dd9f2a

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

*.o-02dd9f2a

examples/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Debug/s_livewire

examples/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Release/s_livewire

examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/main.o-02dd9f2a

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/data/input/test.png

examples/data/output/s_livewire_multiple.png

examples/data/output/s_livewire_single.png

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/build-hdr_exposure_fusion-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_exposure_fusion

examples/build-hdr_exposure_fusion-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

*.o-02dd9f2a

examples/build-hdr_generation_alignment-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_tone_mapping_simple-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_tone_mapping_simple

examples/build-hdr_tone_mapping-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_tone_mapping_simple-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-ip_color_transform-Desktop_Qt_5_4_2_clang_64bit-Debug/ip_color_transform

examples/build-ip_color_transform-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-ip_dct_decomposition-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/main.o-02dd9f2a

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/build-ip_debayering-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-hdr_generation_alignment-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation_alignment

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-ip_debayering-Desktop_Qt_5_4_2_clang_64bit-Debug/ip_debayering

examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/main.o-02dd9f2a

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_generation

examples/segmentation_live_wire/main.cpp

examples/segmentation_live_wire/main.cpp

examples/build-ip_deform_grid-Desktop_Qt_5_4_2_clang_64bit-Debug/ip_deform_grid

examples/build-ip_deform_grid-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/data/input/test.jpg
examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Debug/hdr_generation
examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Debug/Makefile
examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/hdr_generation
examples/build-hdr_generation-Desktop_Qt_5_8_0_clang_64bit-Release/Makefile
examples/build-ip_white_balance-Desktop_Qt_5_8_0_clang_64bit-Release/ip_white_balance
examples/build-ip_white_balance-Desktop_Qt_5_8_0_clang_64bit-Release/Makefile
examples/build-opengl_filtering-Desktop_Qt_5_8_0_clang_64bit-Debug/Makefile
examples/build-opengl_simple_io-Desktop_Qt_5_8_0_clang_64bit-Debug/Makefile
examples/build-opengl_simple_io-Desktop_Qt_5_8_0_clang_64bit-Debug/opengl_simple_io

examples/build-cv_rectification-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-cv_rectification-Desktop_Qt_5_4_2_clang_64bit-Release/cv_rectification

examples/build-edge_aware_filtering-Desktop_Qt_5_4_2_clang_64bit-Release/edge_aware_filtering

examples/build-edge_aware_filtering-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-hdr_generation_alignment-Desktop_Qt_5_4_2_clang_64bit-Release/hdr_generation_alignment

examples/build-hdr_generation_alignment-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Release/hdr_generation

examples/build-hdr_generation-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-linear_filters-Desktop_Qt_5_4_2_clang_64bit-Debug/linear_filters

*.jpg

*.png

*.bmp

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-ip_deblurring-Desktop_Qt_5_4_2_clang_64bit-Release/ip_deblurring

examples/build-linear_filters-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-linear_filters-Desktop_Qt_5_4_2_clang_64bit-Release/linear_filters

examples/build-linear_filters-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile

examples/build-opengl_convolution_2D-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-opengl_convolution_2D-Desktop_Qt_5_4_2_clang_64bit-Debug/opengl_convolution_2D

examples/build-opengl_deform_grid-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-opengl_deform_grid-Desktop_Qt_5_4_2_clang_64bit-Debug/opengl_deform_grid

examples/build-opengl_filtering-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-opengl_filtering-Desktop_Qt_5_4_2_clang_64bit-Debug/opengl_filtering

examples/build-opengl_push_pull-Desktop_Qt_5_4_2_clang_64bit-Debug/opengl_push_pull

*.tmp

examples/build-s_kmeans-Desktop_Qt_5_4_2_clang_64bit-Debug/s_kmeans

examples/build-opengl_tone_mapping-Desktop_Qt_5_4_2_clang_64bit-Debug/opengl_tone_mapping

examples/build-opengl_tone_mapping-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

*.png

examples/data/input/features/checker_board_photo.png

*.hdr

examples/data/input/features/checker_board_photo.png

examples/build-u_polynomials-Desktop_Qt_5_4_2_clang_64bit-Debug/s_kmeans

examples/build-u_polynomials-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile

examples/build-u_polynomials-Desktop_Qt_5_4_2_clang_64bit-Debug/main-aed74e84.o.tmp

examples/build-s_kmeans-Desktop_Qt_5_4_2_clang_64bit-Debug/s_kmeans

examples/build-opengl_push_pull-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile
examples_jni/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile
examples_jni/build-cv_find_checker_board-Desktop_Qt_5_4_2_clang_64bit-Release/cv_find_checker_board
examples_jni/build-cv_find_checker_board-Desktop_Qt_5_4_2_clang_64bit-Release/Makefile
examples_jni/build-ip_white_balance-Desktop_Qt_5_4_2_clang_64bit-Debug/ip_white_balance
examples_jni/build-ip_white_balance-Desktop_Qt_5_4_2_clang_64bit-Debug/Makefile
examples_jni/build-s_livewire-Desktop_Qt_5_4_2_clang_64bit-Debug/s_livewire
examples/build-hdr_tone_mapping-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_tone_mapping
examples/build-hdr_tone_mapping-Desktop_Qt_5_4_2_clang_64bit-Debug/hdr_tone_mapping
